:root {
    --primario: #fe4b24;
    --primarioOscuro: #b22000;
    --secundario: #24BFFE;
    --secundarioOscuro: #006f9c;
    --blanco: #fff;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;
    
}